.recipe-ingredients {
  border-radius: 8px;
}
#add-ingredient-button {
  margin-bottom: 2px;
}
.input-container .add-ingredient-input .ingredient-quantity {
  border-right: none;
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 75px;
}
.input-container .add-ingredient-input .ingredient-unit {
  border-right: none;
  border-left: none;
  border-radius: 0px;
  margin-left: -4px;
  width: 75px;
}
.input-container .add-ingredient-input .ingredient-name {
  border-left: none;
  border-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: -4px;
  width: 150px;
}
.ingredient-quantity:focus,
.ingredient-unit:focus,
.ingredient-name:focus {
  outline: none;
}
.add-ingredient-input {
  width: fit-content;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  border: 3.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.gen-tip-button-container {
  width: 200px;
  padding-top: 10px;
}
.ai-button {
  text-align: center;
  background-color: var(--secondary-green);
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
