.add-recipe-page {
  background-color: rgb(239, 198, 127);
}
.add-recipe-header {
  font-size: 24px;
  padding-left: 28px;
  padding-top: 28px;
}

.recipe-details {
  padding: 20px;
  border-radius: 15px;
}
