:root {
  /* First ver */
  /* --primary-green: #828868;
  --secondary-green: #dcd6cb;
  --neutral-white: #e9e3dd;
  --primary-brown: #694a34;
  --secondary-brown: #bea691; */
  /* more defined first version green to brown */
  /* --primary-green: #686f4f;
  --secondary-green: #9ca085;
  --neutral-white: #dcd7cc;
  --primary-brown: #664a35;
  --secondary-brown: #c7ab8d; */
  /* green to coral */
  --primary-green: #688a50;
  --secondary-green: rgb(156, 177, 127);
  /* --neutral-white: #faf6eb; */
  --neutral-white: #f0e9d5;
  --primary-brown: #f9d2bf;
  --secondary-brown: #ed7d6c;
}
