:root {
  /* First ver */
  /* --primary-green: #828868;
  --secondary-green: #dcd6cb;
  --neutral-white: #e9e3dd;
  --primary-brown: #694a34;
  --secondary-brown: #bea691; */
  /* more defined first version green to brown */
  /* --primary-green: #686f4f;
  --secondary-green: #9ca085;
  --neutral-white: #dcd7cc;
  --primary-brown: #664a35;
  --secondary-brown: #c7ab8d; */
  /* green to coral */
  --primary-green: #688a50;
  --secondary-green: rgb(156, 177, 127);
  --neutral-white: #faf6eb;
  --primary-brown: #f9d2bf;
  --secondary-brown: #ed7d6c;
}
body {
  margin: 0;
  display: flex;
}
#nav {
  background-color: white;
  padding: 10px;
  color: var(--primary-brown);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 150px;
}
#nav a {
  margin-bottom: 20px;
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  color: black;
}
#nav a span {
  padding-right: 5px;
}

.button {
  background-color: var(--secondary-brown);
  padding: 10px;
  color: var(--neutral-white);
  border-radius: 8px;
}
#im-hungry {
  padding: 5px;
}
#input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 20px;
  background-color: rgb(239, 239, 239);
}
#search-bar {
  width: 400px;
  padding: 15px;
  font-size: 20px;
  border: none;
}
#search-bar:focus {
  outline: none;
}

::placeholder {
  color: rgba(0, 0, 0);
  opacity: 0.3; /* Firefox */
}
.search-bar-wrapper {
  display: flex;

  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2);
  background-color: white;
  align-items: center;
}
.recipe {
  width: 100%;
  background-color: rgba(239, 198, 127, 0.58);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.gallery-row {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
#gallery {
  display: flex;
  background-color: rgb(239, 239, 239);
  width: 100%;
  overflow: scroll;
  justify-content: center;
}
.content {
  width: 100%;
  height: 100vh;
  background-color: rgb(239, 239, 239);
}
.add-recipe-page {
  background-color: rgba(239, 198, 127, 0.58);
}
.add-recipe-header {
  font-size: 24px;
  padding: 28px;
}
.recipe-details {
  padding: 20px;
  border-radius: 15px;
}
.recipe-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-white);
  padding: 50px;
}
.recipe-input {
  padding: 10px;
}
.recipe-input-image {
  padding: 10px;
}

div.recipe-input input {
  border-radius: 8px;
  border: 1px solid gray;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  /* width: 250; */
}
div.recipe-input textarea {
  border-radius: 8px;
  border: 1px solid gray;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
div.recipe-input div {
  height: 20px;
}
.recipe-ingredients {
  border-radius: 8px;
}
.form-id {
  border-radius: 10px;
}
.tag {
  background-color: var(--secondary-brown);
  width: fit-content;
  padding: 5px 15px 5px 15px;
  border-radius: 14px;
  margin: 5px;
}
img {
  border-radius: 10px;
}

/* .add-recipe-header {
  background-color: var(--primary-green);
  font-size: 24px;
  padding: 20px;
  border-radius: 15px;
} */
.recipe-body h1 {
  display: flex;
  justify-content: center;
}
.recipe-time-table {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--secondary-green);
  padding: 10px;
}
.recipe-time-header {
  background-color: var(--primary-green);
  border: 1px solid var(--secondary-green);
  font-size: 15px;
  text-align: center;
}
.recipe-time-value {
  font-size: 15px;
  text-align: center;
}
.recipe-serving-size {
  display: grid;
  grid: auto;
  /* padding: 10px; */
}
.recipe-serving-header {
  background-color: var(--primary-green);
  border: 1px solid var(--secondary-green);
  font-size: 15px;
  text-align: center;
}
.recipe-serving-value {
  font-size: 15px;
  text-align: center;
}
.recipe-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.card_recipe_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 450;
}
.card_recipe_text {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_recipe_time {
  display: flex;
  font-weight: 350;
  color: rgb(88, 87, 87);
  font-size: 16px;
  align-items: center;
}
.card_total_time {
  padding-left: 4px;
}
.inner_card {
  width: 90%;
}

.card_cuisine {
  font-size: 14px;
  color: rgb(88, 87, 87);
  font-weight: 350;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 16;
}
