<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <link rel="stylesheet" href="/static/styles.css" />
  </head>

  <body>
    <div id="banner">
      <a href="/recipes">Recipes</a>
      <a href="/recipes/add">Add Recipe</a>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
