<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Recipes {% endblock %}</title>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/input.css" />
    <link rel="stylesheet" href="/static/recipe-card.css" />
    <link rel="stylesheet" href="/static/add_ingredient.css" />
    <link rel="stylesheet" href="/static/add_recipe.css" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/edit_recipe.css" />
    <link rel="stylesheet" href="/static/ingredients.css" />
    <link rel="stylesheet" href="/static/recipe.css" />
    <link rel="stylesheet" href="/static/recipes.css" />
    <link rel="stylesheet" href="/static/search_recipe.css" />
    <link rel="stylesheet" href="/static/suggest.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="nav">
      <a class="title" href="/">Recipes</a>
      <div id="desktop-nav">
        <a href="/"
          ><span class="material-symbols-outlined"> home </span>Recipes</a
        >
        <a href="/add"
          ><span class="material-symbols-outlined"> add_circle </span>Add
          Recipe</a
        >
        <a href="/pantry"
          ><span class="material-symbols-outlined"> kitchen </span>Pantry</a
        >
        <a href="/favorites"
          ><span class="material-symbols-outlined"> favorite </span>Favorites</a
        >
        <a href="/suggest"
          ><span class="material-symbols-outlined suggest"> bolt </span>Suggest
          Recipe</a
        >
      </div>
      <div id="mobile-nav">
        <a href="/"
          ><span class="material-symbols-outlined"> home </span>Recipes</a
        >
        <a href="/add"
          ><span class="material-symbols-outlined"> add_circle </span>Add
          Recipe</a
        >
        <a href="/pantry"
          ><span class="material-symbols-outlined"> kitchen </span>Pantry</a
        >
        <a href="/favorites"
          ><span class="material-symbols-outlined"> favorite </span>Favorites</a
        >
        <a href="/suggest"
          ><span class="material-symbols-outlined suggest"> bolt </span>Suggest
          Recipe</a
        >
      </div>
      <!-- <a href="/settings"
        ><span class="material-symbols-outlined"> settings </span>Settings</a
      > -->
      <a href="javascript:void(0);" class="icon" onclick="toggleMobileNav()">
        <span class="material-symbols-outlined"> menu </span>
      </a>
    </div>

    <div class="content">{% block body %}{% endblock %}</div>
    <script>
      function toggleMobileNav() {
        let e = document.getElementById("mobile-nav");
        if (e.style.display == "block") {
          e.style.display = "none";
        } else {
          e.style.display = "block";
        }
      }
    </script>
  </body>
</html>
