{% extends "base.html" %}
{% block title %} Edit {{rows[0]['recipe_name']}}
{% endblock %}
{% block body %}
<div class="add-recipe-page">
  <div class="add-recipe-header">Edit Recipe: {{rows[0]['recipe_name']}}</div>

<form method="POST"  enctype="multipart/form-data">

  <div class="recipe-details">
    <div class="input-container">
      <label>Add Image</label>
      <input type="file" name="add-image" />
    </div>

    <div class="input-container">
      <label>Recipe Name</label>
      <input
        type="text"
        value="{{ rows[0]['recipe_name']}}"
        name="name"
      />
    </div>
    <div class="input-container">
      <label>Cuisine</label>      
      <select  name="cuisine" >
        <option {{"selected"  if rows[0]['cuisine'] == "" else "" }} value="" selected hidden>Select Cuisine</option>
        <option {{"selected"  if rows[0]['cuisine'] == "American" else "" }} value="American">American</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Beverage" else "" }} value="Beverage">Beverage</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Breakfast" else "" }} value="Breakfast">Breakfast</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Chinese" else "" }} value="Chinese">Chinese</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Dessert" else "" }} value="Dessert">Dessert</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Indian" else "" }} value="Indian">Indian</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Italian" else "" }} value="Italian">Italian</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Japanese" else "" }} value="Japanese">Japanese</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Mediterranean" else "" }} value="Mediterranean">Mediterranean</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Mexican" else "" }} value="Mexican">Mexican</option>
        <option {{"selected"  if rows[0]['cuisine'] == "Thai" else "" }} value="Thai">Thai</option>
      </select>
    </div>
    <div class="input-container">
      <label>Link to Recipe</label>
      <input type="text"  name="recipe-url" value="{{rows[0]['url'] if rows[0]['url'] is not none else '' }}" />
    </div>
    <div class="input-container">
      <label>Serving Size</label>
      <input
        type="number"
        value="{{ rows[0]['serving_size']}}"
        class="input-small"
        name="serving-size"
        min="1"
        max="20"
      />
    </div>
    <div class="input-container">
      <label>Prep Time</label>
      <div class="row vertical-center">
      <input
        type="number"
        value="{{ rows[0]['prep_time']}}"
        class=" input-small"
        name="prep-time"
        min="0"
        max="10000"
      />
      <div class="padding-left-1">min</div>
    </div>
    </div>
    <div class="input-container">
      <label>Cook Time</label>
      <div class="row vertical-center">
      <input
        type="number"
        value="{{ rows[0]['cook_time']}}"
        class="input-small"
        name="cook-time"
        min="0"
        max="10000"
      />
      <div class="padding-left-1">min</div>
    </div>
    </div>
    
    <div class="input-container">
      <div id="ingredients"></div>
    </div>
    <div class="input-container">
      <label>Instructions</label>
      <textarea class="form-id " rows="10" cols="70" name="instructions">
{{ rows[0]['instructions']}}</textarea
      >
    </div>
    <div class="input-container">
      <label>Additional Notes</label>
      <textarea class="form-id" rows="5" cols="70" name="notes">
{{ rows[0]['additional_notes']}}</textarea
      >
    </div>
    <div class="input-container">
      <label>Video Tips (AI Assist)</label>
      <textarea class="form-id" rows="5" cols="70" name="video-tips">
{{ rows[0]['video_tips']}}</textarea
      >
    </div>
    
    <div class="row padding-left-2">
    <button class="button" type="submit">Save Changes</button>
    <a class="button margin-left-1" href="/{{rows[0]['recipe_id']}}/delete">Delete</a>
  </div>
  </div>
</form>
</div>
<script type="module">
  import { render } from "https://esm.sh/preact";
  import { App, html } from "/static/recipe-ingredients.js";
  fetch("/{{rows[0]['recipe_id']}}/ingredients").then(r => r.json()).then(j => {
    const ingredients = document.getElementById("ingredients");
  render(
    html`<${App} inputs=${j["ingredients"]} />`,
    ingredients
  );
  })


  </script>
{% endblock %}


