{% extends "base.html" %} {% block body %}
<form method="POST"  enctype=multipart/form-data>
  <div class="recipe-details">
    <div class="recipe-input-image">
      <div>Add Image</div>
      <input type="file" name="add-image" />
    </div>

    <div class="recipe-input">
      <div>Recipe Name</div>
      <input
        type="text"
        value="{{ rows[0]['recipe_name']}}"
        class="recipe-name"
        name="name"
      />
    </div>
    <div class="recipe-input">
      <div>Cuisine</div>
      <!-- <input type="option" id="recipe-cuisine" /> -->
      <input
        value="{{ rows[0]['cuisine']}}"
        list="recipe-cuisine"
        name="cuisine"
      />
      <datalist class="recipe-cuisine">
        <option value="American"></option>
        <option value="Chinese"></option>
        <option value="Japanese"></option>
        <option value="Italian"></option>
        <option value="Mediterranean"></option>
      </datalist>
    </div>
    <div class="recipe-input">
      <div>Link to Recipe</div>
      <input type="text" class="recipe-url" name="recipe-url" />
    </div>
    <div class="recipe-input">
      <div>Serving Size</div>
      <input
        type="number"
        value="{{ rows[0]['serving_size']}}"
        class="recipe-serving-size"
        name="serving-size"
        min="1"
        max="20"
      />
    </div>
    <div class="recipe-input">
      <div>Prep Time</div>
      <input
        type="number"
        value="{{ rows[0]['prep_time']}}"
        class="recipe-prep-time"
        name="prep-time"
        min="0"
        max="10000"
      />
      min
    </div>
    <div class="recipe-input">
      <div>Cook Time</div>
      <input
        type="number"
        value="{{ rows[0]['cook_time']}}"
        class="recipe-cook-time"
        name="cook-time"
        min="0"
        max="10000"
      />
      min
    </div>
    <div class="recipe-input">
      <div>Ingredients</div>
      <input type="text" class="recipe-ingredients" name="ingredients" />
    </div>
    <div class="recipe-input">
      <div>Instructions</div>
      <textarea class="form-id" rows="10" cols="70" name="instructions">
{{ rows[0]['instructions']}}</textarea
      >
    </div>
    <div class="recipe-input">
      <div>Additional Notes</div>
      <textarea class="form-id" rows="5" cols="70" name="notes">
{{ rows[0]['additional_notes']}}</textarea
      >
    </div>
    <button class="button" type="submit">Save Recipe</button>
  </div>
</form>
{% endblock %}

<!-- TODO:
 - add image to cards
 - add title/recipe names to cards
 - add category tag to the cards 
 - unsure how to get cuisin dropdown to show up-->
