<!DOCTYPE html>
<!-- <title>Hello from Flask</title> -->
<!-- {% if person %}
<h1>Hello {{ person }}!</h1>
{% else %}
<h1>Hello, World!</h1>
{% endif %} -->
<html>
  <head>
    <title>Table</title>
  </head>
  <body>
    <form method="POST">
      Item Name: <input type="text" name="Name" /> Category:
      <input type="text" name="Category" /> Quantity:
      <input type="text" name="Quantity" /> Notes:
      <input type="text" name="Notes" />
      <button type="submit">Add Item</button>
    </form>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      {% for row in rows %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[2]}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
