{% extends "base.html" %} {% block title %} Pantry {% endblock %} {% block body
%}
<div class="column align-center">
  <div class="table-container column">
    <div class="row space-between align-center vertical-padding-1">
      <div class="margin-left-2 bold none md-block">Ingredients</div>
      <div class="row">
        <a href="/pantry/add" class="button margin-left-1">Add Ingredient</a>
        <a href="/suggest" class="button margin-left-1 margin-right-1 ai-button"
          >Suggest Recipe</a
        >
      </div>
    </div>
    <table>
      <tr>
        <th>Ingredient</th>
        <th class="none md-table-cell">Category</th>
        <th>Amount</th>
        <th class="none md-table-cell">Perishable?</th>
        <th class="none md-table-cell">Last Updated</th>
      </tr>
      {% for row in rows %}

      <tr>
        <td>
          <a class="remove-link" href="/pantry/{{row['id']}}/edit"
            >{{row["name"]}}</a
          >
        </td>
        <td class="none md-table-cell">{{row["category"]}}</td>
        <td>{{row["quantity"]}} {{row["unit"]}}</td>
        <td class="none md-table-cell">{{row["perishable"]}}</td>
        <td class="none md-table-cell">
          {{row["last_updated"].split(" ")[0] if row["last_updated"] is not none
          else ""}}
        </td>
      </tr>

      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
