{% extends "base.html" %} {% block body %}

<div class="recipe-body">
  <div id="recipe-header">
    <h1>
      {{ rows[0]["recipe_name"] }}
      <a href="/recipes/{{rows[0]['recipe_id']}}/edit">Edit</a>
      <a href="/recipes/{{rows[0]['recipe_id']}}/delete">Delete</a>
    </h1>
    <div class="recipe-image">
      <img
        src="/uploads/{{rows[0]['img_str_file']}}"
        alt="recipe-image"
        width="500"
        height="auto"
      />
      <div>
        <div class="tag">{{ rows[0]["cuisine"] }}</div>
      </div>
    </div>
    <div class="recipe-meas-table">
      <div class="recipe-serving-size">
        <div>
          <div class="recipe-serving-header">Serving Size</div>
          <div class="recipe-serving-value">{{rows[0]["serving_size"]}}</div>
        </div>
      </div>
      <div class="recipe-time-table">
        <div>
          <div class="recipe-time-header">Prep Time</div>
          <div class="recipe-time-value">{{rows[0]["prep_time"]}} min</div>
        </div>
        <div>
          <div class="recipe-time-header">Cook Time</div>
          <div class="recipe-time-value">{{rows[0]["cook_time"]}} min</div>
        </div>
        <div>
          <div class="recipe-time-header">Total Time</div>
          <div class="recipe-time-value">{{rows[0]["total_time"]}} min</div>
        </div>
      </div>
    </div>

    <div class="ingredients-list">
      <h2>Ingredients</h2>
      <p>[to add later: currently hardcode]</p>
    </div>
    <div class="instructions">
      <h2>Instructions</h2>
      <pre>{{rows[0]["instructions"]}}</pre>
    </div>
    <div class="additional-notes">
      <h2>Additional Notes</h2>
      <p>{{rows[0]["additional_notes"]}}</p>
    </div>
  </div>
</div>

{% endblock %}
