{% extends "base.html" %} {% block title %} {{ rows[0]["recipe_name"] }} {%
endblock %} {% block body %}

<div class="recipe-body">
  <div class="recipe-header column align-center w-100">
    <h1>
      <a class="black" href="/{{rows[0]['recipe_id']}}/edit"
        >{{ rows[0]["recipe_name"] }}</a
      >

      {% if rows[0]["url"] is not none and rows[0]["url"]|length >0 %}

      <a href="{{rows[0]['url']}}"
        ><span class="material-symbols-outlined margin-left-2 remove-link">
          link
        </span></a
      >{% endif %}

      <a
        class="remove-link margin-left-1"
        href="/{{rows[0]['recipe_id']}}/favorite"
      >
        <span
          class="material-symbols-outlined {{'filled' if rows[0]['favorite']==1 else '' }}"
        >
          favorite
        </span></a
      >
    </h1>

    <div class="recipe-image light-green-bg border-radius">
      <img
        src="/uploads/{{rows[0]['img_str_file']}}"
        alt="recipe-image"
        width="100%"
        height="auto"
      />
      <div class="recipe-stats vertical-padding-1">
        <div class="recipe-stats-grid">
          <div class="row align-center">
            <div>
              <span class="material-symbols-outlined"> globe </span>
            </div>
            <div class="margin-left-1">
              <div class="font-small">Cuisine</div>
              <div class="light-bold cuisine-font">
                {{rows[0]["cuisine"]}} {{'' if rows[0]["cuisine"]|length >0 else
                '——'}}
              </div>
            </div>
          </div>
          <div class="row align-center">
            <div>
              <span class="material-symbols-outlined"> pie_chart </span>
            </div>
            <div class="margin-left-1">
              <div class="font-small">Servings</div>
              <div class="light-bold">
                {{rows[0]["serving_size"]|string if rows[0]["serving_size"]|int
                >0 else '——'}}
              </div>
            </div>
          </div>
          <div class="row align-center">
            <div>
              <span class="material-symbols-outlined"> restaurant </span>
            </div>
            <div class="margin-left-1">
              <div class="font-small">Prep</div>
              <div class="light-bold">
                {{rows[0]["prep_time"]|string + ' min' if
                rows[0]["prep_time"]|int >0 else '——'}}
              </div>
            </div>
          </div>
          <div class="row align-center">
            <div>
              <span class="material-symbols-outlined"> skillet </span>
            </div>
            <div class="margin-left-1">
              <div class="font-small">Cook</div>
              <div class="light-bold">
                {{rows[0]["cook_time"]|string + ' min' if
                rows[0]["cook_time"]|int >0 else '——'}}
              </div>
            </div>
          </div>
          <div class="row align-center">
            <div><span class="material-symbols-outlined"> timer </span></div>
            <div class="margin-left-1 margin-right-1">
              <div class="font-small">Total</div>
              <div class="light-bold">
                {{rows[0]["total_time"]|string + ' min' if
                rows[0]["total_time"]|int >0 else '——'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if rows[0]["instructions"]|length > 0 %}
    <div class="w-100">
      <h2>Ingredients</h2>
      <ul>
        {% for ingredient in ingredients %}
        <li>
          {{ingredient['quantity']}} {{ingredient['unit']}} -
          {{ingredient['name']}}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% if rows[0]["instructions"]|length > 0 %}
    <div class="w-100">
      <h2>Instructions</h2>
      <pre>{{rows[0]["instructions"]}}</pre>
    </div>
    {% endif %} {% if rows[0]["additional_notes"]|length > 0 %}

    <div class="w-100">
      <h2>Additional Notes</h2>
      <pre>{{rows[0]["additional_notes"]}}</pre>
    </div>
    {% endif %} {% if rows[0]["video_tips"]|length > 0 %}
    <div class="w-100">
      <h2>Video Tips (AI Assist)</h2>
      <pre>{{rows[0]["video_tips"]}}</pre>
    </div>
    {% endif %}
  </div>

  {% endblock %}
</div>
