{% extends "base.html" %} {% block body %}

<div class="input-wrapper">
  <div class="search-bar-wrapper">
    <span class="material-symbols-outlined"> search </span>
    <form action="/recipes/search">
      <input
        placeholder="What do you want to cook today?"
        type="text"
        class="search-bar"
        name="keyword"
        value="{{keyword}}"
      />
    </form>
  </div>
</div>
<div class="gallery">
  <div class="gallery-row">
    {% for row in rows %}
    <div class="recipe">
      <a class="card_recipe_link" href="/recipes/{{row[0]}}">
        <div class="inner_card">
          <div class="card_img">
            <img
              src="/uploads/{{row['img_str_file']}}"
              alt="recipe-image"
              width="100%"
              height="auto"
            />
          </div>
          <div class="card_recipe_text">
            <div class="card_recipe_name">{{row[1]}}</div>
            <div class="card_recipe_time">
              <span class="material-symbols-outlined"> timer </span>
              <div class="card_total_time">{{row["total_time"]}} min</div>
            </div>
          </div>
          <div class="card_cuisine">{{row["cuisine"]}}</div>
        </div></a
      >
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
