{% extends "base.html" %} {% block title %} Suggest Recipes {% endblock %} {%
block body %}
<div class="column align-center">
  <div class="center-header">Suggested Recipes (AI Assist)</div>
  <div class="recipe-details">
    <div class="gpt-response align-center">
      <ol>
        {% for i in chat["recipes"] %}
        <li>
          <a href="/recipes/{{i['id']}}"
            >{{top_recipes[loop.index0]["recipe_name"]}}
          </a>
          - {{i["reasoning"]}}
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
